/* Basic Reset */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white; /* Ensure text is white */
    background-color: black; /* Background color set to black */
    font-family: Arial, sans-serif; /* Example font */
}

/* Hero Section */
.hero {
    position: relative;
    display: flex;
    height: 80vh; /* Adjusted to 50% of viewport height */
}

.hero-part {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with opacity 0 */
    }
    to {
        opacity: 1; /* End with opacity 1 */
    }
}

.hero-text {
    font-size: 44px;
    padding-left: 150px; /* Padding for text spacing */
    text-align: left; /* Align text to the left */
    animation: fadeIn 1s ease; /* Apply animation effect */
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(0); /* Slide in to the left */
    }
}

.hero-image {
    margin-left: -150px;
    position: absolute;
    height: 100%;
    width: auto;
    animation: slideInRightBounce 1s forwards;
}

.hero-image img {
    height: 100%;
    width: 100%;
    object-fit: contain; /* Ensure the image covers the container */
}

/* Features Section */
.features {
    padding-Top: 30px;
    padding-left: 120px;
    padding-Right: 120px;
    background: transparent; /* Ensures background transparency */
    margin-top: 20px; /* Add margin to the top */
}

.features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates a 3x2 grid */
    gap: 20px; /* Space between grid items */
}

.feature {
    padding: 20px;
    font-size: 18px;
    color: white; /* Ensures the text is white */
    align-items: flex-start; /* Aligns the icon and text vertically */
}

#animation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.feature-icon {
    font-size: 3em; /* Adjust the font size to enlarge the icons */
    padding: 20px;
}

.about {
    text-align: center; /* Center align the content */
    margin-top: 80px;
    margin-bottom: 80px;
}

.about .container {
    max-width: 60%; /* Adjust maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.container p {
    font-size: 24px; /* Adjust the font size as needed */
}


/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .hero {
        margin-top: -80px;
        height: 100vh; /* Revert to full viewport height on smaller screens */
        flex-direction: column; /* Stack hero parts vertically on smaller screens */
    }

    .hero-text {
        padding: 0 20px; /* Padding for text spacing */
        text-align: center;
        font-size: 32px;
    }

    .hero-image {
        position: absolute; /* Change to relative positioning */
        width: auto; /* Adjust to full width of the hero section */
        margin-top: 300px;
        padding-left: 170px;
        scale: 90%; /* Ensure the image covers the full height of its container */
    }
 
    .features {
        padding: 20px;
        background: transparent; /* Ensures background transparency */
        margin-top: 300px; /* Add margin to the top */
    }

    .features .container {
        grid-template-columns: 1fr; /* Stacks the features vertically on smaller screens */
    }

    .feature {
        font-size: 18px;
    }

    .feature-icon {
        font-size: 2em; /* Adjust the font size to enlarge the icons */
        padding: 0px;
    }

    .header {
    margin-bottom: 30px;
    }

    .about {
    text-align: center; /* Center align the content */
    margin-top: 30px;
    margin-bottom: 80px;
    }

    .about .container {
    max-width: 80%; /* Adjust maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    }

    .container p {
    font-size: 18px; /* Adjust the font size as needed */
    }
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    color: white; /* Text color */
}

.logo img {
    width: 55px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.menu-toggle {
    cursor: pointer; /* Show pointer cursor on hover */
    font-size: 35px;
    margin-top: -20px;
    margin-right: 0px;
}

footer {
    text-align: center;
}

footer .privacy-link {
    color: white;
    font-size: 20px;
    padding: 20px;
}
